:root {
  --body--background-color: #e6e6e6;
  --secondary--color: #fff;
  --cta--color: #0086b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--body--background-color);
}

html {
  font-size: 62.5%;
}

header {
  margin: 5rem 0;
  text-align: center;
  font-size: 2.6rem;
}

.operations {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 2rem auto 0;
}

.editBudget,
.transactionContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--secondary--color);
  border-radius: 2rem;
  width: 49%;
}
.editBudget h2,
.transactionContainer h2 {
  font-size: 2.5rem;
}

.budget,
.transaction {
  height: 100%;
  flex-direction: column;
  margin-top: 2rem;
  display: flex;
  font-size: 1.6rem;
}

.transaction {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.budgetInput {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.budgetInput input {
  width: 75%;
  border-radius: 2rem;
  padding-left: 1rem;
}

.budgetInput button {
  background-color: var(--cta--color);
  color: var(--body--background-color);
  padding: 1rem 2rem;
  border-radius: 2rem;
  width: 20%;
  height: 100%;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.transactionName,
.transactionCost {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.transactionCost {
  flex-direction: row;
  width: 50%;
}

.transactionName input,
.transactionCost input {
  height: 60px;
  border-radius: 2rem;
  width: 100%;
  padding-left: 1rem;
  font-size: 1.8rem;
}

.transactionCost input {
  width: 50%;
}

.transactionCostInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.addBtn {
  background-color: var(--cta--color);
  color: var(--body--background-color);
  padding: 1rem 2rem;
  height: 60px;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
}

.expenseDiv {
  display: flex;
  justify-content: space-between;
}

.expenseDiv input {
  width: 65%;
}

/* MONEY */

.money {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 15rem;
  margin: 2rem auto;
}

.budgetNum,
.expensesNum,
.balanceNum {
  display: flex;
  justify-content: space-evenly;
  height: 70%;
  align-items: center;
  border-radius: 2rem;
  width: 32%;
  background-color: var(--secondary--color);
}

.totalBudget,
.totalExpenses,
.totalBalance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
  width: 30%;
  font-size: 1.6rem;
}

.svg {
  height: 100%;
}

.transactionHistory {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 200px;
}
.transactionHistory h2 {
  text-align: center;
}
