:root{
  --body--background-color: #e6e6e6;
  --secondary--color: #fff;
  --cta--color: #0086b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--body--background-color)
}

html{
  font-size: 62.5%;
}

header{
  margin:5rem 0;
  text-align: center;
  font-size: 2.6rem;
}

.operations{
  display: flex;
  justify-content: space-between;
  width:70%;
  margin: 2rem auto 0;
}

.editBudget, .transactionContainer{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--secondary--color);
  border-radius: 2rem;
  width: 45%;

}
.editBudget h2, .transactionContainer h2 {
  font-size: 2.5rem;
}


.budget, .transaction{
  height: 100%;
  flex-direction: column;
  margin-top: 2rem;
  display: flex;
  font-size: 1.6rem;
}

.budgetInput {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.budgetInput input{
  width: 75%;
  border-radius: 2rem;
  padding-left: 1rem;
}

.budgetInput button {
background-color: var(--cta--color);
color: var(--body--background-color);
padding:1rem 2rem;
border-radius: 2rem;
width: 20%;
height: 100%;
font-size: 1.6rem;
}


.transactionName{
  border: 1px solid black;
width: 45%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.transactionName input {
  height: 60px;
  border-radius: 2rem;
}
/* ----------------------------------------- */
.transactionNameDiv{
  border:1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
  width: 45%;
  height: 100%;
}

.transactionCostDiv{
  border:1px solid black;
  width: 45%;
}

.transaction{
  justify-content: space-between;
}

.transactionNameDiv input {
  width: 75%;
  height: 100%;
  margin-top: 1rem;
  border-radius: 2rem;
  padding-left: 1rem;
}

.labelContainer{
  width: 100%;
 display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

